h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.body{
    background-image: url(../responsive-portfolio/images/dark-grey-terrazzo.png)
}




